# root
.github/
.husky/
coverage/
sample/
scripts/
src/

# lib
lib/typescript/sample/
lib/typescript/src/__tests__/

# android
android/.gradle/
android/.idea/
android/build/
android/src/test/
android/local.properties

# docs
website/